@import '~react-markdown-editor-lite/lib/index.css';
@import '~primereact/resources/themes/nova-light/theme.css';
@import '~primeicons/primeicons.css';
@import '~primereact/resources/primereact.min.css';



/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Fundo da barra de rolagem */
  ::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC;
  }
  
  /* Cor do indicador de rolagem */
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4;
    transition-timing-function: ease;
    transition-duration: 1s;
  }
  
  /* Cor do indicador de rolagem - ao passar o mouse */
  ::-webkit-scrollbar-thumb:vertical:hover,
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171;
    transition-timing-function: ease;
    transition-duration: 1s;
  }